<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poker-with-websockets</title>
    <script>
        const roomName = "<%= roomName %>"
    </script>
    <link rel="stylesheet" href="styles.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="DOM.js" type="module"></script>
    <script defer src="game.js" type="module"></script>
</head>
<body>
    <!-- <h1>Poker with websockets</h1> -->
    <div id="game-container">
        <canvas id="game"></canvas>
        <button type="submit" id="ready-button">Ready to check</button>
        <button type="submit" id="change-button">Change cards</button>
        <button type="submit" id="fold-button">Fold</button>
        <textarea readonly class="noselect" id="stats-container">Welcome to room [<%= roomName %>]</textarea>

        <div id="selected-cards">
            <input type="checkbox" id="card1" name="card1" value="card" checked>
            <label id="cl1" for="card1"> null</label><br>
            <input type="checkbox" id="card2" name="card2" value="card" checked>
            <label id="cl2" for="card2"> null</label><br>
            <input type="checkbox" id="card3" name="card3" value="card" checked>
            <label id="cl3" for="card3"> null</label><br>
            <input type="checkbox" id="card4" name="card4" value="card" checked>
            <label id="cl4" for="card4"> null</label><br>
            <input type="checkbox" id="card5" name="card5" value="card" checked>
            <label id="cl5" for="card5"> null</label><br>
        </div>
        <div id="state-container">Player ones turn</div>
    </div>
    
</body>
</html>